# Introduction to NumPy


#### 1. Import NumPy under the name np.

In [98]:
# your code here
import numpy as np

#### 2. Print your NumPy version.

In [99]:
# your code here
np.__version__

'1.18.1'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [100]:
# Method 1
a = np.random.random((2,3,5))
a

array([[[0.75700118, 0.62672855, 0.01030842, 0.28377787, 0.23681958],
        [0.04866373, 0.15225455, 0.76071495, 0.03129492, 0.43470279],
        [0.67043797, 0.06137322, 0.11322238, 0.61689771, 0.4121082 ]],

       [[0.22040412, 0.80519671, 0.8789575 , 0.91614595, 0.56361389],
        [0.80480224, 0.29317488, 0.56048282, 0.40924567, 0.24969266],
        [0.21634936, 0.09596273, 0.07519581, 0.25086296, 0.02447239]]])

In [101]:
# Method 2
a = np.random.rand(2,3,5)
a

array([[[0.42449305, 0.1886872 , 0.48521485, 0.42728963, 0.72096691],
        [0.85914094, 0.67042157, 0.7260431 , 0.5946011 , 0.78424786],
        [0.06666041, 0.547339  , 0.77862461, 0.77192037, 0.86398334]],

       [[0.44558565, 0.93908023, 0.3472063 , 0.22532008, 0.34722895],
        [0.54993644, 0.31553355, 0.8839245 , 0.56183942, 0.66422743],
        [0.72875406, 0.03383608, 0.64062765, 0.73549264, 0.71730433]]])

In [5]:
# Method 3
a = np.random.randint(0,9,(2,3,5))
a

array([[[3, 2, 7, 1, 1],
        [1, 4, 4, 7, 1],
        [8, 1, 0, 5, 3]],

       [[7, 8, 6, 3, 5],
        [2, 3, 1, 2, 2],
        [6, 2, 6, 7, 8]]])

#### 4. Print *a*.

In [102]:
# your code here
print(a)

[[[0.42449305 0.1886872  0.48521485 0.42728963 0.72096691]
  [0.85914094 0.67042157 0.7260431  0.5946011  0.78424786]
  [0.06666041 0.547339   0.77862461 0.77192037 0.86398334]]

 [[0.44558565 0.93908023 0.3472063  0.22532008 0.34722895]
  [0.54993644 0.31553355 0.8839245  0.56183942 0.66422743]
  [0.72875406 0.03383608 0.64062765 0.73549264 0.71730433]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [103]:
# your code here
b = np.ones((5,2,3))

#### 6. Print *b*.

In [104]:
# your code here
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [105]:
# your code here
np.shape(a) == np.shape(b)

False

#### 8. Are you able to add *a* and *b*? Why or why not?

In [109]:
# your answer here
## It's not possible to add and b because they have different shapes.
try:
    a + b
except:
    print('deu erro')

deu erro

#### 9. Reshape *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the reshaped array to variable *c*.

In [110]:
# your code here
c = np.reshape(b, (2,3,5))

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [111]:
# your code/answer here

## ANSWER: it works because the shape is the same now, and it sums up element by element (by pairs)
d = a + c

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [112]:
# your code/answer here
print(a)
print ('-----------------')
print(d)

### ANSWER: d has all the elements of a summed by 1

[[[0.42449305 0.1886872  0.48521485 0.42728963 0.72096691]
  [0.85914094 0.67042157 0.7260431  0.5946011  0.78424786]
  [0.06666041 0.547339   0.77862461 0.77192037 0.86398334]]

 [[0.44558565 0.93908023 0.3472063  0.22532008 0.34722895]
  [0.54993644 0.31553355 0.8839245  0.56183942 0.66422743]
  [0.72875406 0.03383608 0.64062765 0.73549264 0.71730433]]]
-----------------
[[[1.42449305 1.1886872  1.48521485 1.42728963 1.72096691]
  [1.85914094 1.67042157 1.7260431  1.5946011  1.78424786]
  [1.06666041 1.547339   1.77862461 1.77192037 1.86398334]]

 [[1.44558565 1.93908023 1.3472063  1.22532008 1.34722895]
  [1.54993644 1.31553355 1.8839245  1.56183942 1.66422743]
  [1.72875406 1.03383608 1.64062765 1.73549264 1.71730433]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [113]:
# your code here
e = a * c
e

array([[[0.42449305, 0.1886872 , 0.48521485, 0.42728963, 0.72096691],
        [0.85914094, 0.67042157, 0.7260431 , 0.5946011 , 0.78424786],
        [0.06666041, 0.547339  , 0.77862461, 0.77192037, 0.86398334]],

       [[0.44558565, 0.93908023, 0.3472063 , 0.22532008, 0.34722895],
        [0.54993644, 0.31553355, 0.8839245 , 0.56183942, 0.66422743],
        [0.72875406, 0.03383608, 0.64062765, 0.73549264, 0.71730433]]])

#### 13. Does *e* equal to *a*? Why or why not?

In [114]:
# your code/answer here
## ANSWER: 'e' equals to 'a' because 'e' is a multiplied by 1 in each of its elements

e == a

array([[[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]],

       [[ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True],
        [ True,  True,  True,  True,  True]]])

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [115]:
# your code here
d_max = d.max()
d_min = d.min()
d_mean = d.mean()

print(d_max, d_min, d_mean)

1.9390802338043733 1.0338360799712423 1.5681843760503498

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [116]:
# your code here
f = np.empty((d.shape))

In [117]:
f

array([[[0.42449305, 0.1886872 , 0.48521485, 0.42728963, 0.72096691],
        [0.85914094, 0.67042157, 0.7260431 , 0.5946011 , 0.78424786],
        [0.06666041, 0.547339  , 0.77862461, 0.77192037, 0.86398334]],

       [[0.44558565, 0.93908023, 0.3472063 , 0.22532008, 0.34722895],
        [0.54993644, 0.31553355, 0.8839245 , 0.56183942, 0.66422743],
        [0.72875406, 0.03383608, 0.64062765, 0.73549264, 0.71730433]]])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [118]:
print(d.shape)
d

(2, 3, 5)

array([[[1.42449305, 1.1886872 , 1.48521485, 1.42728963, 1.72096691],
        [1.85914094, 1.67042157, 1.7260431 , 1.5946011 , 1.78424786],
        [1.06666041, 1.547339  , 1.77862461, 1.77192037, 1.86398334]],

       [[1.44558565, 1.93908023, 1.3472063 , 1.22532008, 1.34722895],
        [1.54993644, 1.31553355, 1.8839245 , 1.56183942, 1.66422743],
        [1.72875406, 1.03383608, 1.64062765, 1.73549264, 1.71730433]]])

In [119]:
f.shape[0]

2

In [120]:
# your code here

group = d.shape[0]
row = d.shape[1]
item = d.shape[2]

for i_group in range (group):
    for i_row in range (row):
        for i_item in range (item):

            if d[i_group, i_row, i_item] > d_min and d[i_group, i_row, i_item] < d_mean:
                f[i_group, i_row, i_item] = 25

            elif  d[i_group, i_row, i_item] > d_mean and  d[i_group, i_row, i_item] < d_max:
                f[i_group, i_row, i_item] = 75          
                
            elif  d[i_group, i_row, i_item] == d_mean:
                f[i_group, i_row, i_item] = 50
                
            elif  d[i_group, i_row, i_item] == d_min:
                f[i_group, i_row, i_item] = 0
                
            elif  d[i_group, i_row, i_item] == d_max:
                f[i_group, i_row, i_item] = 100
                
print(f)

[[[ 25.  25.  25.  25.  75.]
  [ 75.  75.  75.  75.  75.]
  [ 25.  25.  75.  75.  75.]]

 [[ 25. 100.  25.  25.  25.]
  [ 25.  25.  75.  25.  75.]
  [ 75.   0.  75.  75.  75.]]]

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [123]:
# your code here
print(d)

print('------------------------------')

print(f)

[[[1.42449305 1.1886872  1.48521485 1.42728963 1.72096691]
  [1.85914094 1.67042157 1.7260431  1.5946011  1.78424786]
  [1.06666041 1.547339   1.77862461 1.77192037 1.86398334]]

 [[1.44558565 1.93908023 1.3472063  1.22532008 1.34722895]
  [1.54993644 1.31553355 1.8839245  1.56183942 1.66422743]
  [1.72875406 1.03383608 1.64062765 1.73549264 1.71730433]]]
------------------------------
[[[ 25.  25.  25.  25.  75.]
  [ 75.  75.  75.  75.  75.]
  [ 25.  25.  75.  75.  75.]]

 [[ 25. 100.  25.  25.  25.]
  [ 25.  25.  75.  25.  75.]
  [ 75.   0.  75.  75.  75.]]]

* Utilizando o método de máscara:

In [124]:
f=d.copy()

In [125]:
# & == operador lógico -> compara lado a lado, posição a posição 
# and == compara objetos

(d > d_min) & (d < d_mean)

array([[[ True,  True,  True,  True, False],
        [False, False, False, False, False],
        [ True,  True, False, False, False]],

       [[ True, False,  True,  True,  True],
        [ True,  True, False,  True, False],
        [False, False, False, False, False]]])

In [126]:
f[(d > d_min) & (d < d_mean)]=25
f[(d > d_mean) & (d < d_max)]=75
f[d== d_mean]= 50
f[d== d_min]= 0
f[d== d_max]= 100

In [127]:
f

array([[[ 25.,  25.,  25.,  25.,  75.],
        [ 75.,  75.,  75.,  75.,  75.],
        [ 25.,  25.,  75.,  75.,  75.]],

       [[ 25., 100.,  25.,  25.,  25.],
        [ 25.,  25.,  75.,  25.,  75.],
        [ 75.,   0.,  75.,  75.,  75.]]])

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [129]:
# your code here
# your code here

g = f.astype(str)
group = d.shape[0]
row = d.shape[1]
item = d.shape[2]

for i_group in range (group):
    for i_row in range (row):
        for i_item in range (item):

            if d[i_group, i_row, i_item] > d_min and d[i_group, i_row, i_item] < d_mean:
                g[i_group, i_row, i_item] = 'B'

            elif  d[i_group, i_row, i_item] > d_mean and  d[i_group, i_row, i_item] < d_max:
                g[i_group, i_row, i_item] = 'D'         
                
            elif  d[i_group, i_row, i_item] == d_mean:
                g[i_group, i_row, i_item] = 'C'
                
            elif  d[i_group, i_row, i_item] == d_min:
                g[i_group, i_row, i_item] = 'A'
                
            elif  d[i_group, i_row, i_item] == d_max:
                g[i_group, i_row, i_item] = 'E'

print(g)

[[['B' 'B' 'B' 'B' 'D']
  ['D' 'D' 'D' 'D' 'D']
  ['B' 'B' 'D' 'D' 'D']]

 [['B' 'E' 'B' 'B' 'B']
  ['B' 'B' 'D' 'B' 'D']
  ['D' 'A' 'D' 'D' 'D']]]

* versão com máscara

In [136]:
m = np.array(d, dtype=object)

m[(d > d_min) & (d < d_mean)] = 'B'
m[(d > d_mean) & (d < d_max)] = 'D'
m[d == d_mean] = 'C'
m[d == d_min] = 'A'
m[d == d_max] = 'E'

m

array([[['B', 'B', 'B', 'B', 'D'],
        ['D', 'D', 'D', 'D', 'D'],
        ['B', 'B', 'D', 'D', 'D']],

       [['B', 'E', 'B', 'B', 'B'],
        ['B', 'B', 'D', 'B', 'D'],
        ['D', 'A', 'D', 'D', 'D']]], dtype=object)

In [138]:
m.dtype

dtype('O')

In [139]:
m = np.empty(shape=d.shape, dtype=object)

m[(d > d_min) & (d < d_mean)] = 'B'
m[(d > d_mean) & (d < d_max)] = 'D'
m[d == d_mean] = 'C'
m[d == d_min] = 'A'
m[d == d_max] = 'E'

m

array([[['B', 'B', 'B', 'B', 'D'],
        ['D', 'D', 'D', 'D', 'D'],
        ['B', 'B', 'D', 'D', 'D']],

       [['B', 'E', 'B', 'B', 'B'],
        ['B', 'B', 'D', 'B', 'D'],
        ['D', 'A', 'D', 'D', 'D']]], dtype=object)