## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [6]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [23]:
# Your code here

sample_list_1 = []
sample_list_1 = random.sample(range(101),80)
print (sample_list_1)

[4, 54, 96, 33, 6, 100, 34, 67, 27, 46, 39, 62, 77, 80, 49, 64, 28, 93, 31, 78, 10, 29, 61, 73, 66, 11, 32, 43, 51, 85, 30, 25, 8, 52, 83, 70, 98, 2, 53, 56, 5, 69, 57, 79, 95, 40, 63, 13, 65, 37, 74, 92, 50, 76, 24, 19, 89, 82, 20, 17, 88, 36, 86, 1, 58, 91, 22, 99, 18, 15, 45, 87, 7, 81, 47, 84, 42, 59, 94, 97]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [62]:
# Your code here
set1 = set(sample_list_1)

if len (set1) == 80:
    print ("yes, its length is still 80")
else:
    print ("no, its length is no longer 80")

yes, its length is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [48]:
# Your code here
sample_list_2 = []

count = 0
while count < 80:
    sample_list_2.extend (random.sample(range(101),1))
    count += 1
    if count == 81:
        break
        
print(sample_list_2)

[44, 19, 57, 47, 46, 56, 24, 88, 60, 85, 38, 79, 10, 64, 90, 76, 79, 22, 76, 97, 40, 20, 6, 18, 74, 98, 14, 5, 42, 68, 67, 63, 85, 33, 17, 24, 20, 10, 64, 61, 38, 40, 43, 14, 44, 5, 33, 84, 88, 24, 51, 4, 21, 49, 82, 35, 76, 41, 22, 22, 42, 75, 26, 19, 28, 56, 79, 80, 89, 28, 40, 43, 87, 87, 42, 65, 18, 56, 17, 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [63]:
# Your code here
set2 = set(sample_list_2)

if len (set2) == 80:
    print ("yes, its length is still 80")
else:
    print ("no, its length is no longer 80")

no, its length is no longer 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [56]:
# Your code here
set3 = set1.difference(set2)
print (set3)

{1, 2, 7, 8, 11, 13, 15, 25, 27, 29, 31, 32, 34, 36, 37, 39, 45, 50, 52, 53, 54, 58, 59, 62, 66, 69, 70, 73, 77, 78, 81, 83, 86, 91, 92, 93, 94, 95, 96, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [65]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{35, 68, 90, 38, 41, 75, 44, 14, 21, 26, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [67]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{4, 5, 6, 10, 17, 18, 19, 20, 22, 24, 28, 30, 33, 40, 42, 43, 46, 47, 49, 51, 56, 57, 61, 63, 64, 65, 67, 74, 76, 79, 80, 82, 84, 85, 87, 88, 89, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [93]:
# set1 = 80 random unique numbers
# set2 = 50 random unique numbers (originated by a list of 80 random numbers)
# set3 = 41 elements present exclusively in set1
# set4 = 11 elements present exclusively in set2 
# set5 = 39 elements present both in set1 and set2

In [94]:
# Your code here

len(set1) == len(set2) + len(set3) - len(set4)
len(set2) == len(set4) + len(set5)
len(set3) == len(set1) - len(set5)
len(set4) == len(set2) - len(set5)
len(set5) == len(set1) - len(set3) + len(set2) - len(set4) - len(set5)

True

#### Create an empty set called `set6`.

In [103]:
# Your code here
list6 = []
set6 = set(list6)
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [108]:
# Your code here
set6.update(set3, set5)
print(set6)

{1, 2, 4, 5, 6, 7, 8, 10, 11, 13, 15, 17, 18, 19, 20, 22, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 39, 40, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 69, 70, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [109]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [119]:
# set1 contains set2?
set2.issubset(set1) == True

False

In [120]:
# set1 contains set3?
set3.issubset(set1) == True

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [126]:
# Your code here
set3.union(set4, set5) == set1.union (set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [128]:
# Your code here
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [129]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [133]:
removed_list = []
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
    else:
        removed_list.append(i)
print (removed_list)

[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]