# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
# Your code here:
def count_list(list):
    '''
    This function counts how many elements there are in a given list.
    
    example: count_list([1,2,3])
            --> returns 3
    '''
    return len(list)

In [3]:
# testando a função

count_list([1,2,3,4,5,6,7,8])

8

Create a function that returns the mean of a list of numbers

In [4]:
def sum_list (list):
    '''
    This function returns the sum of numeric numbers in a given list. 
    
    example: count_list([1,2,3])
            -> returns 6
    '''    
    
    count = 0
    sum_num = 0
    while count < len(list):
        sum_num += list[count]
        count += 1
    return sum_num

In [5]:
# Your code here:
def mean_list(list):
    '''
    This function returns the mean of numbers in a given list, 
    by dividing the sum of all elements and dividing it by the number of elements.
    
    example: count_list([1,2,3]) 
            = sum (1,2,3) / 3
            -> returns 2
    '''
    return sum_list(list) / len(list)

In [6]:
# testando a função

mean_list([2,8])

5.0

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [7]:
# Your code here:
def standard_dev(list):
    '''
    This function returns the population standard deviation of numbers in a given list.

    example: standard_dev([2,8])
        -> returns 3.0
    '''    
    
    sum_num = 0
    for x in list:
        sum_num += (x - mean_list(list)) ** 2
    return (sum_num / count_list(list)) ** (1/2)

In [8]:
standard_dev([2,8])

3.0

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [9]:
# Your code here:
def stats(list):
    '''
    This function informs the count, mean and standard deviation of a given list,
    by printing its stats and returns a tuple with the results.
    
    example: stats([2,8])
            # prints out: 
                    Count: 2
                    Mean: 5.0
                    Standard Deviation: 3.0
            -> returns (2, 5.0, 3.0)
    '''    

    print (f'''
    Count: {count_list(list)}
    Mean: {mean_list(list)}
    Standard Deviation: {standard_dev(list)}''')
    
    return count_list(list), mean_list(list), standard_dev(list)

In [10]:
stats ([2,8])

    Count: 2
    Mean: 5.0
    Standard Deviation: 3.0

(2, 5.0, 3.0)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [11]:
def clean_string (string):
    '''
    Function receives a given string and returns that string:
        - in all lower case,
        - without special characters, and
        - in alphabetical order
    
    example: 
        clean_string('HELlo wo@rld, thi$S IS$ !mE!')
            -> returns: 'hello world this is me'
    '''
    
    
    # faz operações de string: deixa em letras minúsculas e quebra as palavras em uma lista
    clean = string.lower().split()

    # coloca lista em ordem alfabética
    clean.sort()
    
    # limpar caracteres especiais
    import re 
    clean_list = [re.sub('\W','', i) for i in clean]
    
    # concatenar elementos da lista em uma string só
    clean_str = " ".join(clean_list)
    new_str = clean_str.strip()

    return new_str

In [12]:
# testando função clean_string():

y = 'Hell??!!o W@orld @ g$$ood by&e!'
clean_string(y)

'bye good hello world'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [13]:
# Your code here:
def probation (grade):
    
    '''
    This function takes a numeric grade and returns to the teacher if the student was:
    - reproved,
    - approved or
    - approved with honor
    
    '''
    
    # definição das categorias:
    categories = {  'So sorry, This student was Reproved.' : range (70),
                    'Wow! This student was Approved.' : range (70,100),
                    'What an honor! This student was Approved with the maximum Score.' : range (100,101)}
    
    # classification:
    for x,y in categories.items():
        if grade in y:
            print (x)

In [14]:
probation(20)

So sorry, This student was Reproved.

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [15]:
# Your code here:
def age ( ):
    
    given_age =  int(input ("What's your age? "))
    
    while given_age not in range (151):
        return age()

In [16]:
age()

What's your age? 900
What's your age? 1002
What's your age? 100

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [17]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

In [18]:
def order_abc (string:str)-> str:
    
    str_list = string.split(', ')
    str_list.sort()
    
    return ", ".join(str_list)

In [19]:
order_abc(buzz)

'AI, Big Data, Data Warehouse, Machine Learning, Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [20]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

In [21]:
def order_abc_w_return (string:str)-> str:
    
    str_list = string.split(', ')
    str_list.sort()
    
    ", ".join(str_list)

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [22]:
import pandas as pd

In [118]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [24]:
# Your code here:
iris_numeric

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [25]:
np.mean(iris_numeric)

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [26]:
np.std(iris_numeric)

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [27]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return np.multiply(x,0.393701)

In [28]:
cm_to_in(1)

0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [29]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)

In [30]:
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [31]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + error

In [32]:
iris_constant = add_constant(iris_numeric)
iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [127]:
# Your code here:

iris_numeric.apply(np.max,1)

0    6.5
1    6.3
2    6.0
3    6.1
4    6.4
5    7.1
6    6.0
7    6.5
8    5.8
9    6.4
dtype: float64

In [125]:
# Your code here:
def compute_max(dataframe):
    
    dataframe['max'] = dataframe.max(1)
    return dataframe

In [126]:
compute_max(iris_numeric)

   sepal_length  sepal_width  petal_length  petal_width  total_length  max
0           5.1          3.5           1.4          0.2           6.5  6.5
1           4.9          3.0           1.4          0.2           6.3  6.3
2           4.7          3.2           1.3          0.2           6.0  6.0
3           4.6          3.1           1.5          0.2           6.1  6.1
4           5.0          3.6           1.4          0.2           6.4  6.4
5           5.4          3.9           1.7          0.4           7.1  7.1
6           4.6          3.4           1.4          0.3           6.0  6.0
7           5.0          3.4           1.5          0.2           6.5  6.5
8           4.4          2.9           1.4          0.2           5.8  5.8
9           4.9          3.1           1.5          0.1           6.4  6.4

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [119]:
def total_columns(dataframe, col_1, col_2):
    col_name = col_1.rpartition('_')[-1]
    dataframe[f'total_{col_name}'] = dataframe[col_1] + dataframe[col_2]
    
    return dataframe

In [120]:
total_columns(iris_numeric,'sepal_length','petal_length')

   sepal_length  sepal_width  petal_length  petal_width  total_length
0           5.1          3.5           1.4          0.2           6.5
1           4.9          3.0           1.4          0.2           6.3
2           4.7          3.2           1.3          0.2           6.0
3           4.6          3.1           1.5          0.2           6.1
4           5.0          3.6           1.4          0.2           6.4
5           5.4          3.9           1.7          0.4           7.1
6           4.6          3.4           1.4          0.3           6.0
7           5.0          3.4           1.5          0.2           6.5
8           4.4          2.9           1.4          0.2           5.8
9           4.9          3.1           1.5          0.1           6.4

In [100]:
total_columns(iris_numeric,'sepal_width','petal_width')

,sepal_length,sepal_width,petal_length,petal_width,total_len,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,6.4,3.2